In [1]:
import pandas as pd

In [66]:
l_stops_df = pd.read_csv('CTA_list_of_L_stops.csv')

station_bools = l_stops_df[['MAP_ID','ADA','RED','BLUE','G','BRN','P','Pexp','Y','Pnk','O']].groupby('MAP_ID').any()

l_stations_df = l_stops_df[['MAP_ID','STATION_NAME','STATION_DESCRIPTIVE_NAME','Location']].merge(station_bools, how='left', left_on='MAP_ID', right_index=True).drop_duplicates()
l_stations_df[['latitude','longitude']] = l_stations_df['Location'].str.replace('\(|\)','', regex=True).str.split(',',expand=True).apply(pd.to_numeric)
l_stations_df.drop('Location', axis='columns', inplace=True)

l_stations_df = pd.concat([l_stations_df, pd.DataFrame([
    {
        'MAP_ID':40200,
        'STATION_NAME':'Randolph/Wabash',
        'STATION_DESCRIPTIVE_NAME':'Randolph/Wabash',
        'RED':False,
        'BLUE':False,
        'G':True,
        'BRN':True,
        'P':False,
        'Pexp':True,
        'Y':False,
        'Pnk':True,
        'O':True,
        'latitude':41.884431,
        'longitude':-87.626149
    },
    {
        'MAP_ID':40500,
        'STATION_NAME':'Washington/State',
        'STATION_DESCRIPTIVE_NAME':'Washington/State',
        'RED':True,
        'BLUE':False,
        'G':False,
        'BRN':False,
        'P':False,
        'Pexp':False,
        'Y':False,
        'Pnk':False,
        'O':False,
        'latitude':41.8837,
        'longitude':-87.6278
    },
    {
        'MAP_ID':40640,
        'STATION_NAME':'Madison/Wabash',
        'STATION_DESCRIPTIVE_NAME':'Madison/Wabash',
        'RED':False,
        'BLUE':False,
        'G':True,
        'BRN':True,
        'P':False,
        'Pexp':True,
        'Y':False,
        'Pnk':True,
        'O':True,        'latitude':41.882023,
        'longitude':-87.626098
    }
])], sort=False)

l_stations_df.to_csv('cta_l_stations.csv')

l_stations_df

,MAP_ID,STATION_NAME,STATION_DESCRIPTIVE_NAME,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,latitude,longitude
0,40830,18th,18th (Pink Line),True,False,False,False,False,False,False,False,True,False,41.857908,-87.669147
2,40120,35th/Archer,35th/Archer (Orange Line),True,False,False,False,False,False,False,False,False,True,41.829353,-87.680622
4,41120,35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),True,False,False,True,False,False,False,False,False,False,41.831677,-87.625826
6,41270,43rd,43rd (Green Line),True,False,False,True,False,False,False,False,False,False,41.816462,-87.619021
8,40130,51st,51st (Green Line),True,False,False,True,False,False,False,False,False,False,41.802090,-87.618487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,41700,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",True,False,False,True,True,False,True,False,True,True,41.883220,-87.626189
293,41240,Addison,Addison (Blue Line),True,False,True,False,False,False,False,False,False,False,41.947380,-87.719060
0,40200,Randolph/Wabash,Randolph/Wabash,NaN,False,False,True,True,False,True,False,True,True,41.884431,-87.626149
1,40500,Washington/State,Washington/State,NaN,True,False,False,False,False,False,False,False,False,41.883700,-87.627800
2,40640,Madison/Wabash,Madison/Wabash,NaN,False,False,True,True,False,True,False,True,True,41.882023,-87.626098

In [67]:
ridership_df = pd.read_csv('CTA_ridership_daily_totals.csv')

ridership_df['date'] = pd.to_datetime(ridership_df['date'])
ridership_df = ridership_df[ridership_df['station_id'] != 41580]

ridership_df.to_csv('cta_ridership.csv')

ridership_df

         station_id        stationname       date daytype  rides
0             41280     Jefferson Park 2017-12-22       W   6104
1             41000   Cermak-Chinatown 2017-12-18       W   3636
2             40280       Central-Lake 2017-12-02       A   1270
3             40140    Dempster-Skokie 2017-12-19       W   1759
4             40690           Dempster 2017-12-03       U    499
...             ...                ...        ...     ...    ...
1036758       41700  Washington/Wabash 2020-11-26       U    601
1036759       41700  Washington/Wabash 2020-11-27       W   2093
1036760       41700  Washington/Wabash 2020-11-28       A   1782
1036761       41700  Washington/Wabash 2020-11-29       U   1222
1036762       41700  Washington/Wabash 2020-11-30       W   2041

[1036732 rows x 5 columns]

In [68]:
df = pd.merge(ridership_df, l_stations_df, how='left', left_on='station_id', right_on='MAP_ID')
df

,station_id,stationname,date,daytype,rides,MAP_ID,STATION_NAME,STATION_DESCRIPTIVE_NAME,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,latitude,longitude
0,41280,Jefferson Park,2017-12-22,W,6104,41280,Jefferson Park,Jefferson Park (Blue Line),True,False,True,False,False,False,False,False,False,False,41.970634,-87.760892
1,41000,Cermak-Chinatown,2017-12-18,W,3636,41000,Cermak-Chinatown,Cermak-Chinatown (Red Line),True,True,False,False,False,False,False,False,False,False,41.853206,-87.630968
2,40280,Central-Lake,2017-12-02,A,1270,40280,Central,Central (Green Line),True,False,False,True,False,False,False,False,False,False,41.887389,-87.765650
3,40140,Dempster-Skokie,2017-12-19,W,1759,40140,Dempster-Skokie,Dempster-Skokie (Yellow Line),True,False,False,False,False,False,False,True,False,False,42.038951,-87.751919
4,40690,Dempster,2017-12-03,U,499,40690,Dempster,Dempster (Purple Line),False,False,False,False,False,True,True,False,False,False,42.041655,-87.681602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1036727,41700,Washington/Wabash,2020-11-26,U,601,41700,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",True,False,False,True,True,False,True,False,True,True,41.883220,-87.626189
1036728,41700,Washington/Wabash,2020-11-27,W,2093,41700,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",True,False,False,True,True,False,True,False,True,True,41.883220,-87.626189
1036729,41700,Washington/Wabash,2020-11-28,A,1782,41700,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",True,False,False,True,True,False,True,False,True,True,41.883220,-87.626189
1036730,41700,Washington/Wabash,2020-11-29,U,1222,41700,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",True,False,False,True,True,False,True,False,True,True,41.883220,-87.626189
1036731,41700,Washington/Wabash,2020-11-30,W,2041,41700,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",True,False,False,True,True,False,True,False,True,True,41.883220,-87.626189

In [69]:
def q1(x):
    return x.quantile(0.25)

def q3(x):
    return x.quantile(0.75)

rides_by_station = ridership_df.groupby('station_id').agg({
    'stationname':'first', 
    'rides':['min',q1,'mean','median',q3,'max','sum'],
    'date':['min','max']
})
rides_by_station.columns = rides_by_station.columns.map('_'.join)
rides_by_station.iloc[40:60]

,stationname_first,rides_min,rides_q1,rides_mean,rides_median,rides_q3,rides_max,rides_sum,date_min,date_max
station_id,,,,,,,,,,
40430,Clinton-Forest Park,0,1315.00,2451.872338,2705.0,3392.0,5970,17842275,2001-01-01,2020-11-30
40440,California-Cermak,0,584.75,959.523227,951.0,1370.0,9703,6981491,2001-01-01,2020-11-30
40450,95th/Dan Ryan,0,7038.00,10147.027590,10987.0,13420.0,18904,73555803,2001-01-01,2020-11-30
40460,Merchandise Mart,0,1601.00,4786.270790,5651.0,6953.0,12103,34820120,2001-01-01,2020-11-30
40470,Racine,3,1001.25,1768.778037,1914.5,2482.0,5810,12901467,2001-01-01,2020-11-30
40480,Cicero-Lake,153,869.50,1159.756289,1257.0,1430.0,2276,8437227,2001-01-01,2020-11-30
40490,Grand/Milwaukee,0,1130.00,1652.568425,1559.0,2325.0,8834,12027393,2001-01-01,2020-11-30
40500,Washington/State,0,1.00,4849.686421,5947.0,7980.0,12442,14321124,2001-01-01,2009-01-31
40510,Garfield-South Elevated,3,757.00,1321.576299,1133.5,1403.0,17304,9613146,2001-01-01,2020-11-30
40520,Foster,0,461.25,649.529007,704.0,843.0,1477,4724674,2001-01-01,2020-11-30
40530,Diversey,0,2455.00,3953.042451,4487.0,5453.5,8967,28774196,2001-01-01,2020-11-30
40540,Wilson,349,3569.50,4855.370177,5146.0,6030.0,11575,35361661,2001-01-01,2020-11-30
40550,Irving Park-O'Hare,0,2140.50,3349.797774,3856.0,4298.5,5932,24383178,2001-01-01,2020-11-30
40560,Jackson/State,0,4440.75,8451.469926,9694.0,11560.0,23939,61543604,2001-01-01,2020-11-30
40570,California/Milwaukee,0,2392.00,3410.998488,3298.0,4727.0,7665,24821836,2001-01-01,2020-11-30
40580,54th/Cermak,0,1033.25,1533.944933,1713.0,2073.0,4437,11170187,2001-01-01,2020-11-30
40590,Damen/Milwaukee,0,3650.00,4614.892627,4649.0,6106.0,16882,33610263,2001-01-01,2020-11-30
40600,Kostner,0,221.00,334.274426,334.0,462.0,696,2432515,2001-01-01,2020-11-30
40610,Ridgeland,10,512.00,1040.510308,1308.0,1397.0,2352,7570753,2001-01-01,2020-11-30
40630,Clark/Division,0,5685.50,6409.754123,6880.0,7561.0,12061,46637371,2001-01-01,2020-11-30

In [39]:
pd.merge(rides_by_station.reset_index(), l_stations_df, how='left', left_on='station_id', right_on='MAP_ID').to_clipboard()