In [1]:
import pandas as pd

In [66]:
l_stops_df = pd.read_csv('CTA_list_of_L_stops.csv')

station_bools = l_stops_df[['MAP_ID','ADA','RED','BLUE','G','BRN','P','Pexp','Y','Pnk','O']].groupby('MAP_ID').any()

l_stations_df = l_stops_df[['MAP_ID','STATION_NAME','STATION_DESCRIPTIVE_NAME','Location']].merge(station_bools, how='left', left_on='MAP_ID', right_index=True).drop_duplicates()
l_stations_df[['latitude','longitude']] = l_stations_df['Location'].str.replace('\(|\)','', regex=True).str.split(',',expand=True).apply(pd.to_numeric)
l_stations_df.drop('Location', axis='columns', inplace=True)

l_stations_df = pd.concat([l_stations_df, pd.DataFrame([
    {
        'MAP_ID':40200,
        'STATION_NAME':'Randolph/Wabash',
        'STATION_DESCRIPTIVE_NAME':'Randolph/Wabash',
        'RED':False,
        'BLUE':False,
        'G':True,
        'BRN':True,
        'P':False,
        'Pexp':True,
        'Y':False,
        'Pnk':True,
        'O':True,
        'latitude':41.884431,
        'longitude':-87.626149
    },
    {
        'MAP_ID':40500,
        'STATION_NAME':'Washington/State',
        'STATION_DESCRIPTIVE_NAME':'Washington/State',
        'RED':True,
        'BLUE':False,
        'G':False,
        'BRN':False,
        'P':False,
        'Pexp':False,
        'Y':False,
        'Pnk':False,
        'O':False,
        'latitude':41.8837,
        'longitude':-87.6278
    },
    {
        'MAP_ID':40640,
        'STATION_NAME':'Madison/Wabash',
        'STATION_DESCRIPTIVE_NAME':'Madison/Wabash',
        'RED':False,
        'BLUE':False,
        'G':True,
        'BRN':True,
        'P':False,
        'Pexp':True,
        'Y':False,
        'Pnk':True,
        'O':True,        'latitude':41.882023,
        'longitude':-87.626098
    }
])], sort=False)

l_stations_df.to_csv('cta_l_stations.csv')

l_stations_df

,MAP_ID,STATION_NAME,STATION_DESCRIPTIVE_NAME,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,latitude,longitude
0,40830,18th,18th (Pink Line),True,False,False,False,False,False,False,False,True,False,41.857908,-87.669147
2,40120,35th/Archer,35th/Archer (Orange Line),True,False,False,False,False,False,False,False,False,True,41.829353,-87.680622
4,41120,35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),True,False,False,True,False,False,False,False,False,False,41.831677,-87.625826
6,41270,43rd,43rd (Green Line),True,False,False,True,False,False,False,False,False,False,41.816462,-87.619021
8,40130,51st,51st (Green Line),True,False,False,True,False,False,False,False,False,False,41.802090,-87.618487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,41700,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",True,False,False,True,True,False,True,False,True,True,41.883220,-87.626189
293,41240,Addison,Addison (Blue Line),True,False,True,False,False,False,False,False,False,False,41.947380,-87.719060
0,40200,Randolph/Wabash,Randolph/Wabash,NaN,False,False,True,True,False,True,False,True,True,41.884431,-87.626149
1,40500,Washington/State,Washington/State,NaN,True,False,False,False,False,False,False,False,False,41.883700,-87.627800
2,40640,Madison/Wabash,Madison/Wabash,NaN,False,False,True,True,False,True,False,True,True,41.882023,-87.626098

In [67]:
ridership_df = pd.read_csv('CTA_ridership_daily_totals.csv')

ridership_df['date'] = pd.to_datetime(ridership_df['date'])
ridership_df = ridership_df[ridership_df['station_id'] != 41580]

ridership_df.to_csv('cta_ridership.csv')

ridership_df

         station_id        stationname       date daytype  rides
0             41280     Jefferson Park 2017-12-22       W   6104
1             41000   Cermak-Chinatown 2017-12-18       W   3636
2             40280       Central-Lake 2017-12-02       A   1270
3             40140    Dempster-Skokie 2017-12-19       W   1759
4             40690           Dempster 2017-12-03       U    499
...             ...                ...        ...     ...    ...
1036758       41700  Washington/Wabash 2020-11-26       U    601
1036759       41700  Washington/Wabash 2020-11-27       W   2093
1036760       41700  Washington/Wabash 2020-11-28       A   1782
1036761       41700  Washington/Wabash 2020-11-29       U   1222
1036762       41700  Washington/Wabash 2020-11-30       W   2041

[1036732 rows x 5 columns]

In [68]:
df = pd.merge(ridership_df, l_stations_df, how='left', left_on='station_id', right_on='MAP_ID')
df

,station_id,stationname,date,daytype,rides,MAP_ID,STATION_NAME,STATION_DESCRIPTIVE_NAME,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,latitude,longitude
0,41280,Jefferson Park,2017-12-22,W,6104,41280,Jefferson Park,Jefferson Park (Blue Line),True,False,True,False,False,False,False,False,False,False,41.970634,-87.760892
1,41000,Cermak-Chinatown,2017-12-18,W,3636,41000,Cermak-Chinatown,Cermak-Chinatown (Red Line),True,True,False,False,False,False,False,False,False,False,41.853206,-87.630968
2,40280,Central-Lake,2017-12-02,A,1270,40280,Central,Central (Green Line),True,False,False,True,False,False,False,False,False,False,41.887389,-87.765650
3,40140,Dempster-Skokie,2017-12-19,W,1759,40140,Dempster-Skokie,Dempster-Skokie (Yellow Line),True,False,False,False,False,False,False,True,False,False,42.038951,-87.751919
4,40690,Dempster,2017-12-03,U,499,40690,Dempster,Dempster (Purple Line),False,False,False,False,False,True,True,False,False,False,42.041655,-87.681602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1036727,41700,Washington/Wabash,2020-11-26,U,601,41700,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",True,False,False,True,True,False,True,False,True,True,41.883220,-87.626189
1036728,41700,Washington/Wabash,2020-11-27,W,2093,41700,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",True,False,False,True,True,False,True,False,True,True,41.883220,-87.626189
1036729,41700,Washington/Wabash,2020-11-28,A,1782,41700,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",True,False,False,True,True,False,True,False,True,True,41.883220,-87.626189
1036730,41700,Washington/Wabash,2020-11-29,U,1222,41700,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",True,False,False,True,True,False,True,False,True,True,41.883220,-87.626189
1036731,41700,Washington/Wabash,2020-11-30,W,2041,41700,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",True,False,False,True,True,False,True,False,True,True,41.883220,-87.626189

In [98]:
def q1(x):
    return x.quantile(0.25)

def q3(x):
    return x.quantile(0.75)

rides_by_station = ridership_df.groupby('station_id').agg({
    'stationname':'first', 
    'rides':['min',q1,'mean','median',q3,'max','sum'],
    'date':['min','max']
})
rides_by_station.columns = rides_by_station.columns.map('_'.join)
rides_by_station.rename(columns={'stationname_first':'name', 'latitude_first':'latitude', 'longitude_first':'longitude'}, inplace=True)

rides_by_station.iloc[40:60]

,name,rides_min,rides_q1,rides_mean,rides_median,rides_q3,rides_max,rides_sum,date_min,date_max
station_id,,,,,,,,,,
40430,Clinton-Forest Park,0,1315.00,2451.872338,2705.0,3392.0,5970,17842275,2001-01-01,2020-11-30
40440,California-Cermak,0,584.75,959.523227,951.0,1370.0,9703,6981491,2001-01-01,2020-11-30
40450,95th/Dan Ryan,0,7038.00,10147.027590,10987.0,13420.0,18904,73555803,2001-01-01,2020-11-30
40460,Merchandise Mart,0,1601.00,4786.270790,5651.0,6953.0,12103,34820120,2001-01-01,2020-11-30
40470,Racine,3,1001.25,1768.778037,1914.5,2482.0,5810,12901467,2001-01-01,2020-11-30
40480,Cicero-Lake,153,869.50,1159.756289,1257.0,1430.0,2276,8437227,2001-01-01,2020-11-30
40490,Grand/Milwaukee,0,1130.00,1652.568425,1559.0,2325.0,8834,12027393,2001-01-01,2020-11-30
40500,Washington/State,0,1.00,4849.686421,5947.0,7980.0,12442,14321124,2001-01-01,2009-01-31
40510,Garfield-South Elevated,3,757.00,1321.576299,1133.5,1403.0,17304,9613146,2001-01-01,2020-11-30
40520,Foster,0,461.25,649.529007,704.0,843.0,1477,4724674,2001-01-01,2020-11-30
40530,Diversey,0,2455.00,3953.042451,4487.0,5453.5,8967,28774196,2001-01-01,2020-11-30
40540,Wilson,349,3569.50,4855.370177,5146.0,6030.0,11575,35361661,2001-01-01,2020-11-30
40550,Irving Park-O'Hare,0,2140.50,3349.797774,3856.0,4298.5,5932,24383178,2001-01-01,2020-11-30
40560,Jackson/State,0,4440.75,8451.469926,9694.0,11560.0,23939,61543604,2001-01-01,2020-11-30
40570,California/Milwaukee,0,2392.00,3410.998488,3298.0,4727.0,7665,24821836,2001-01-01,2020-11-30
40580,54th/Cermak,0,1033.25,1533.944933,1713.0,2073.0,4437,11170187,2001-01-01,2020-11-30
40590,Damen/Milwaukee,0,3650.00,4614.892627,4649.0,6106.0,16882,33610263,2001-01-01,2020-11-30
40600,Kostner,0,221.00,334.274426,334.0,462.0,696,2432515,2001-01-01,2020-11-30
40610,Ridgeland,10,512.00,1040.510308,1308.0,1397.0,2352,7570753,2001-01-01,2020-11-30
40630,Clark/Division,0,5685.50,6409.754123,6880.0,7561.0,12061,46637371,2001-01-01,2020-11-30

In [99]:
ridership_df['weekday'] = ridership_df['date'].dt.day_name()
weekday_ridership_df = ridership_df.groupby(['station_id', 'weekday']).mean().reset_index().pivot(index='station_id', columns='weekday', values='rides')
weekday_ridership_df.columns = weekday_ridership_df.columns.map(lambda x: 'avg_rides_' + x.lower())
weekday_ridership_df

weekday,avg_rides_friday,avg_rides_monday,avg_rides_saturday,avg_rides_sunday,avg_rides_thursday,avg_rides_tuesday,avg_rides_wednesday
station_id,,,,,,,
40010,1765.893167,1689.638543,859.072185,624.658325,1814.631376,1841.871992,1839.940327
40020,3616.268269,3277.144231,2126.304139,1432.589028,3546.542308,3534.687199,3566.655438
40030,1607.565929,1496.324688,1049.301633,769.307692,1561.949038,1583.975985,1581.719923
40040,6687.822115,7005.379674,1464.732246,1193.254808,7197.514918,7447.049038,7360.703170
40050,3796.573077,3337.401923,2707.094321,1777.171319,3581.533205,3585.384986,3561.836381
...,...,...,...,...,...,...,...
41660,16228.729548,14968.800000,9496.919231,6557.692308,16081.086622,16107.722810,16206.949952
41670,798.755403,755.232809,542.860511,397.835953,816.629302,808.216323,818.566372
41680,779.714602,787.774834,387.210177,274.803532,824.637168,836.349558,834.898230
41690,1434.669903,1253.449838,1020.035599,745.456311,1331.880259,1334.214286,1337.925325
41700,8281.620690,7635.275862,4379.137931,3103.505747,8275.074713,8128.931034,8134.385057

In [100]:
df = pd.merge(rides_by_station.reset_index(), l_stations_df, how='left', left_on='station_id', right_on='MAP_ID').merge(weekday_ridership_df, left_on='station_id', right_index=True)
df.to_json('static/data/cta_ridership.json', orient='records')
df

,station_id,name,rides_min,rides_q1,rides_mean,rides_median,rides_q3,rides_max,rides_sum,date_min,...,O,latitude,longitude,avg_rides_friday,avg_rides_monday,avg_rides_saturday,avg_rides_sunday,avg_rides_thursday,avg_rides_tuesday,avg_rides_wednesday
0,40010,Austin-Forest Park,96,868.00,1490.924419,1668.0,1990.00,3226,10849457,2001-01-01,...,False,41.870851,-87.776812,1765.893167,1689.638543,859.072185,624.658325,1814.631376,1841.871992,1839.940327
1,40020,Harlem-Lake,66,2121.00,3014.504948,3386.0,3806.00,6446,21933538,2001-01-01,...,False,41.886848,-87.803176,3616.268269,3277.144231,2126.304139,1432.589028,3546.542308,3534.687199,3566.655438
2,40030,Pulaski-Lake,136,1031.00,1378.531932,1410.0,1710.00,2588,10037091,2001-01-01,...,False,41.885412,-87.725404,1607.565929,1496.324688,1049.301633,769.307692,1561.949038,1583.975985,1581.719923
3,40040,Quincy/Wells,0,1666.00,5479.042279,7047.0,7960.00,9819,39914823,2001-01-01,...,True,41.878723,-87.633740,6687.822115,7005.379674,1464.732246,1193.254808,7197.514918,7447.049038,7360.703170
4,40050,Davis,0,2663.00,3192.530859,3582.0,3836.00,5288,23225662,2001-01-01,...,False,42.047710,-87.683543,3796.573077,3337.401923,2707.094321,1777.171319,3581.533205,3585.384986,3561.836381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,41660,Lake/State,0,8788.75,13662.615723,13852.0,18462.75,35845,99409192,2001-01-01,...,False,41.884809,-87.627813,16228.729548,14968.800000,9496.919231,6557.692308,16081.086622,16107.722810,16206.949952
142,41670,Conservatory,0,522.50,705.396462,721.0,909.00,1838,5024539,2001-06-01,...,False,41.884904,-87.716523,798.755403,755.232809,542.860511,397.835953,816.629302,808.216323,818.566372
143,41680,Oakton-Skokie,0,339.25,674.964624,835.0,982.00,1974,2136938,2012-04-01,...,False,42.026243,-87.747221,779.714602,787.774834,387.210177,274.803532,824.637168,836.349558,834.898230
144,41690,Cermak-McCormick Place,0,766.00,1208.114762,1251.0,1592.00,6089,2610736,2015-01-01,...,False,41.853115,-87.626402,1434.669903,1253.449838,1020.035599,745.456311,1331.880259,1334.214286,1337.925325
145,41700,Washington/Wabash,0,2755.00,6848.275862,8665.5,10373.25,18251,8341200,2017-08-01,...,True,41.883220,-87.626189,8281.620690,7635.275862,4379.137931,3103.505747,8275.074713,8128.931034,8134.385057

In [73]:
rides_by_station.columns

Index(['stationname_first', 'rides_min', 'rides_q1', 'rides_mean',
       'rides_median', 'rides_q3', 'rides_max', 'rides_sum', 'date_min',
       'date_max'],
      dtype='object')